<div>
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">FINDANY</a>
        <form class="form-inline" style="padding-top: 8px;padding-left: 1000px">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>
</div>
<br><br><br>
<div class="col-md-4"></div>
<div class="col-md-4 abc">
    <form (ngSubmit)="RegisterCustomer()" [formGroup]="registerForm" class="form">
        <legend>Register Employee</legend>

        <div class="form-group">
            <label for="">Image</label>
            <input id="profilepic" class="form-control round" type="file" name="profilepic">
        </div>




        <div class="form-group">
            <label for="">Name</label>
            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.name?.errors }" formControlName="name"
                class="form-control round" id="name" name="name" placeholder="name">

            <div *ngIf="submitted && f.name?.errors" class="invalid-feedback">
                <div *ngIf="f.name?.errors.required"> First Name is required</div>
            </div>
        </div>


        <div class="form-group">
            <label for="">Email</label>
            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.email?.errors }" formControlName="email"
                class="form-control round" id="email" name="email" placeholder="Email">
            <div *ngIf="submitted && f.email?.errors" class="invalid-feedback">
                <div *ngIf="f.email?.errors.required"> Email is required</div>
                <div *ngIf="f.email?.errors.email">Email must be a valid email address</div>

            </div>
        </div>

        <div class="form-group">
            <label for="">Contact No</label>
            <input type="tel" [ngClass]="{ 'is-invalid': submitted && f.phoneNo?.errors }" formControlName="phoneNo"
                class="form-control round" id="phoneNo" name="phoneNo" placeholder="Contact No.">
            <div *ngIf="submitted && f.phoneNo?.errors" class="invalid-feedback">
                <div *ngIf="f.phoneNo?.errors.required">Contact No is required</div>
                <div *ngIf="f.phoneNo?.errors.minlength||f.phoneNo?.errors.maxlength">Contact No. must
                    be 10 digit ,No need to add country code</div>

            </div>
        </div>

        <div class="form-group">
            <label for="">Address</label>
            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.address?.errors }" formControlName="address"
                class="form-control round" id="address" name="address" placeholder="Address">

            <div *ngIf="submitted && f.address?.errors" class="invalid-feedback">
                <div *ngIf="f.address?.errors.required"> Address is required</div>
            </div>
        </div>

        <div class="form-group">
            <label for="">Password</label>
            <input type="password" [ngClass]="{ 'is-invalid': submitted && f.password?.errors }"
                formControlName="password" class="form-control round" id="password" name="password"
                placeholder="Password">
            <div *ngIf="submitted && f.password?.errors" class="invalid-feedback">
                <div *ngIf="f.password?.errors.required">password is required</div>
                <div *ngIf="f.password?.errors.minlength">Password must be at least 6 characters</div>

            </div>
        </div>

        <div class="form-group">
            <label for="">Manager </label>
            <input type="text" [ngClass]="{ 'is-invalid': submitted && f.managerId?.errors }"
                formControlName="managerId" class="form-control round" id="managerId" name="managerId"
                placeholder="managerId">
            <div *ngIf="submitted && f.managerId?.errors" class="invalid-feedback">
                <div *ngIf="f.managerId?.errors.required"> managerId is required</div>
            </div>

            <!-- <div class="btn-group-vertical" role="group" aria-label="">
                <button type="button" class="btn btn-secondary"></button>
                <button type="button" class="btn btn-secondary"></button>
                <div class="btn-group" role="group">
                    <button id="dropdownId" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                        
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#"></a>
                        <a class="dropdown-item" href="#"></a>
                    </div>
                </div>
            </div> -->
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <button (click)="onReset()" class="btn btn-danger round"
                style="margin-left: 190px;border-color: black;">Reset</button>
        </div>
    </form>
</div>
<div class="col-md-4"></div>