<router-outlet></router-outlet>


<footer>
<!-- <div class="footer margin-top" >
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-4 col-xs-12">
                <div class="footer-inner">
                    <div class="footer-content">
                        <h4>FINDANY HQ</h4>
                        <address>City Centre 35 AM <br>Street 1395 Pune <br> MH, India</address>
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-md-push-8 col-sm-4 col-xs-12">
                <div class="footer-inner">
                    <div class="footer-content">
                        <h4>CONTACT INFO</h4>
                        <p>
                            T:003 124 115 <br>
                            E:findany@gmail.com <br>
                            W:www.findany.com
                        </p>
                      
                    </div>

                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="footer-inner">
                    <div class="footer-content">

                        <ul class="social-media">
                            <li><a routerLink="/aboutus">ABOUT US</a></li>
                            <li><a routerLink="/contactus">CONTACT US</a></li>
                            
                        </ul>
                        <span class="copyright-mark">© 2020 FINDANY <br> ALL RIGHTS RESERVED</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
</footer>