<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <ul class="nav navbar-nav">

        <li class="active">
            <a routerLink="/employeehome" style="color: black;font-weight: bold;">
                <span class="glyphicon glyphicon-home"></span></a>
        </li>
        <li>
            <a routerLink="/profile">
                <span class="glyphicon glyphicon-user"></span>Profile</a>
        </li>
        <li>
            <a routerLink="/editprofile">
                <span class="glyphicon glyphicon-pencil"></span>Edit profile</a>
        </li>
        <li>
            <a routerLink="/leave">
                <span class="glyphicon glyphicon-plus-sign"></span>Apply Leave</a>
        </li>

        <li>
            <a routerLink="/leavehistory">
                <span class="glyphicon glyphicon-time"></span> Leave History</a>
        </li>
        <li *ngIf="isManager()">
            <a routerLink="/requests">
                <span class="glyphicon glyphicon-list-alt"></span> Requests</a>
        </li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
        <button type="button" (click)="logout()" class="btn">
            <span class="glyphicon glyphicon-log-out"></span>Logout</button>
    </form>
</nav>