<app-navbaremployee></app-navbaremployee>
<br><br><br>

<div class="col-md-4"></div>
<div class="col-md-4">
    <div class="jumbotron" style="padding: 0%">

        <div class="row " style="text-align: center">

            <figure>
                <img src="../../assets/b1.jpg" alt="Profile">
                <figcaption> </figcaption>
                <label>Profile</label>
            </figure>

        </div>
        <br>
        <div class="row">
            <div class=" col-md-6">
                <label>Name</label>
                <input type="text" name="" id="" value="{{employee.name}}">
            </div>
            <div class=" col-md-6 ">
                <label>Email</label>
                <input type="email" name="" id="" value="{{employee.email}}">
            </div>
        </div>


        <div class="row">
            <div class=" col-md-6">
                <label>Address</label>
                <input type="text" name="" id="" value="{{employee.address}}">
            </div>
            <div class=" col-md-6 ">
                <label>Phone</label>
                <input type="email" name="" id="" value="{{employee.phoneNo}}">
            </div>
        </div>


        <div class="row">
            <div class=" col-md-6">
                <label>Manager</label>
                <input type="text" name="" id="" value="{{employee.managerId}}">
            </div>
            <div class=" col-md-6 ">
                <label>Current leaves</label>
                <input type="email" name="" id="" value="{{employee.currentLeaves}}">
            </div>
        </div>

        <div class="row" style="text-align: center">
            <div class="form-group">
                <br>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>